
	@charset utf-8;
	@import url('https://fonts.googleapis.com/css?family=Aldrich|Armata|Cutive+Mono|IBM+Plex+Mono|Iceland|Nova+Square|Orbitron|Play|Quattrocento|Quattrocento+Sans|Ubuntu|VT323');
	/* possiveis fontes para uso.
		VT323
		Ubuntu
		Quattrocento Sans
		Quattrocento
		Play
		Orbitron
		Nova Square
		Iceland
		IBM Plex Mono
		Cutive Mono
		Aldrich
		Armata
		Century
	*/
	@import url(tiny.css) (min-width:300px);
	@import url(small.css) (min-width:600px);
	@import url(big.css) (min-width:900px);
	@media screen and (max-width: 700px) {
	   h1 { font-size: 3rem; }
	   h2 { font-size: 2rem; }
	   h3 { font-size: 1.5rem; }
	   h4 { font-size: 1rem; }
	   body {font-size: 0.7rem;}
	   a  { font-size: 0.9rem; }
	}

	@media screen and (max-width: 500px) {
	   h1 { font-size: 2rem; }
	   h2 { font-size: 1.5rem; }
	   h3 { font-size: 1rem; }
	   h4 { font-size: 0.7rem; }
	   body {font-size: 0.6rem;}
	   a  { font-size: 0.8rem;}
	}
	html{
		font-family: Ubuntu,Quattrocento Sans,Quattrocento,Play,Orbitron,Nova Square,Iceland,IBM Plex Mono,Cutive Mono,Aldrich,Armata,Century;
		-ms-text-size-adjust:100%;
		-webkit-text-size-adjust:100%;
	}
	body {
		background: #000000;
		color: #FFFFFF;
		overflow: auto;
	}
		/* barra de rolagem customizada*/
		::-webkit-scrollbar {
	  width: 10px;
	  height: 10px;
	  -webkit-border-radius: 16px;
	  -webkit-scrollbar-corner:block;

	}

	::-webkit-scrollbar-track-piece {
	  background-color: #000000;
	  -webkit-border-radius: 3px;
	}

	::-webkit-scrollbar-thumb:vertical {
	  height: 5px;
	  background-color: #00FF00;
	  -webkit-border-radius: 3px;
	}

	::-webkit-scrollbar-thumb:horizontal {
	  width: 5px;
	  background-color: #00FF00;
	  -webkit-border-radius: 3px;
	}
	::-webkit-scrollbar-corner{color:#000000}
	/*fim da customização da barra de rolagem*/
	.prin {
			background: none;
			color: #FFFFFF;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 50%;
	}
	a   { font-size: 1rem; }
	a:link {color: #00FF00} 
	a:visited {color: #00FF00} 
	a:hover {color: #FFFF00;}
	div {color :#FFFFFF}
	h1	{
		color: #FFFFFF;
		text-align: center;
	}
	h2	{
		color: #FFFFFF;
		text-align: center;
	}
	h3	{
		color: #FFFFFF;
		text-align: center;
		color: #00000;
	}
	h4	{
		color: #FFFFFF;
		text-align: center;
		color: #00000;
	}	
	th  {
		color: #FFFFFF;
		font-size: 14px;
	}
	table{
		
		align-content: center;
	}
	.tabmain{
		text-align: center;
		width:75%;
		padding:center;
		table-layout: 3;
		font-size: 20px;
	}
	.tabsub{
		text-align: center;
		width: 30%;
		padding:center;
		empty-cells:hide;
		font-size: 18px;
	}
	.tabsubsub{
		text-align: center;
		width: 30%;
		padding:center;
		empty-cells:hide;
		font-size: 16px;
	}

	frame {
		border-color: none;
		width: 10px;
		border: none;
		}
	footer {
		bottom: 2.52;
		right: 0;
		position: absolute;
		max-height: 2%;
		height: auto;
		max-width: 50%;
		width: auto;
		text-align:right;
		}
	ol{
		text-align: center;
		align-content: center;
	}
	ul{
		text-align: center;
		align-content: center;
	}
	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		}
	/* correção para imagem horizontal*/
	img.corrige{
		width: 70%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width:100%;
		height:auto;
	}
	/* correção para imagem vertical*/
	img.corrige2{
		width: 30%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width:100%;
		height:auto;
		}
	img.corrige3{
		width: 5%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width:100%;
		height:auto;
	}
	p.borda {
	    /* a ordem dos lados é a mesma que com margens */
	    border-width: 5px; /* aqui, cada lado possui uma borda de largura diferente */
	    border-style: solid; /* estilos de borda diferentes para cima-baixo e esquerda-direita */
	    border-color: #00FF00; /* uma cor de borda para cada lado */
	    padding: 5px;
	    padding-left: 5px;
	    padding-right: 5px; 
		}
	.fonte {
		bottom: 0px;
		position: relative;
		max-height: 2.5%;
		width: auto;
		max-width: 99%;
		width: auto;
		box-shadow: 0px 0px 0px black;
		z-index: 1;
		text-align:right;
		}
	importante {
		color: #FFFF00;
		text-decoration: underline;
		font-family: 'Ubuntu',serif;
		text-align: center;
		}
	.red{
		color: red;
	}
	.blue{
		color: blue;
	}
	.green{
		color: green;
	}
	.head{
		max-height:  35px;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		text-align: center;
		z-index: 1;
		vertical-align: top;
		}
	.menu{
		width: 300px;
		height: 100%;
		border: none;
		position: absolute;
		}
	.example1 {
	  	max-height: 100%;
	  	height: auto;
	  	width: auto;

	  	bottom: 0;
		left: 0;
		top: 0;
	 	resize: none;
	  	position: absolute;
	  	z-index: 2;
	  	align-self: right;
	  	opacity: 0.8;
	  	}
	.example2 {
	  	height: 100%;
	  	width: 95%;
	  	left: 0;
	  	top: 0;
	  	right: 0;
	  	bottom: 0;
	  	resize: both;
	  	z-index: 0;
	  	overflow: hidden;
	  	overflow-x: hidden;
	  	overflow-y: hidden;
		}
	iframe {
	  	width: 99%;
	  	height: 95%;
	  	border: none;
	  	position: absolute;
	  	top: 0;
    	left: 0;
		}
	.iframe-container {
	  overflow: hidden;
	  padding-top: 56.25%;
	  position: relative;
	}
	 
	.iframe-container iframe {
	   border: 0;
	   height: 100%;
	   left: 0;
	   position: absolute;
	   top: 0;
	   width: 100%;
	}
	 
	/* 4x3 Aspect Ratio */
	.iframe-container-4x3 {
	  padding-top: 75%;
	}
	.iframe {
	  	width: 100%;
	  	height: 100%;
	  	border: none;
	  	position: absolute;
		}
	.top{top: 0}
	.midler {
		right: 280px;
		top: -1;
	    position: absolute;
	  	height: 50%;
	  	width: 50%;
	  	box-shadow: 0px 0px 0px black;
	  	z-index: 1;
	  	text-align:right;
	    }
	.midlel {
		top: 0;
	  	left: 280px;
	  	position: absolute;
	  	height: 50%;
	  	width: 50%;
	  	box-shadow: 0px 0px 0px black;
	  	z-index: 1;
	  	text-align:left;
	    }
	/*Inicio do conjunto para o sanduíche */
	.nav-toggle {
		display: block;
		padding: 10px 10px 15px 10px;
		background: #fff;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 50;
		}
	.hamburger {
		width: 1.08em;
		position: relative;
		display: inline-block;
		height: 0.6em;
		font-size: 1.2em;
		background: #fff;
		}
	.hamburger span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #cdcdcd;
		border-radius: 3px;
		}
		/*fim do conjunto sanduiceh*/
		/* alterador de fonte*/
	.Aldrich{font-family: 'Aldrich', sans-serif	}
	.Armata{font-family: 'Armata', sans-serif}
	.CutiveMono{font-family: 'Cutive Mono', monospace}
	.IBMPlex{font-family: 'IBM Plex Mono', monospace}
	.Iceland{font-family: 'Iceland', cursive}
	.NovaSquare{font-family: 'Nova Square', cursive}
	.Orbiton{font-family: 'Orbitron', sans-serif;}
	.Play{font-family: 'Play', sans-serif}
	.QuattrocentoSans{font-family: 'Quattrocento Sans', sans-serif}
	.Quattrocento{font-family: 'Quattrocento', serif;}
	.Ubuntu{ font-family: 'Ubuntu', sans-serif}
	.VT323{font-family: 'VT323', monospace}
	/* mais regras CSS */
	/* considere que essa folha de estilo demomina-se main.css */
  